  body{
    margin:0;
    padding:0;
  }
  .carousel-container{
    width:100%;
    position:relative;
    overflow-x:hidden;
  }
  .carousel-slider{
    width:500%;
    position:relative;
    animation:animate 5s linear infinite;
  }
  .carousel-slide{
    width:20%;
    position:relative;
    float:left;
    height:50vh;
    background-size:cover;
  }
  h1{
    margin:0;
    padding:0;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    font-size:6em;
    width:100%;
    background:rgba(0,0,0,.6);
    color:#fff;
  }
  .carousel-slide:nth-child(1)
  {
    background: url(https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  }
  .carousel-slide:nth-child(2)
  {
    background: url(https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  }
  .carousel-slide:nth-child(3)
  {
    background: url(https://images.pexels.com/photos/796545/pexels-photo-796545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  }
  .carousel-slide:nth-child(4)
  {
    background: url(https://images.pexels.com/photos/218983/pexels-photo-218983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  }
  .carousel-slide:nth-child(5)
  {
    background: url(https://images.pexels.com/photos/243757/pexels-photo-243757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  }
  @keyframes animate{
    0%{
      left:0;
    }
    33%{
      left:0;
    }
    50%{
      left:-100%;
    }
    83%{
      left:-100%;
    }
    100%{
      left:0;
    }
  }