input {
    border-bottom: 1px solid black !important;
}

.brand-logo {
    margin-left: 20px;
}

.nav-pesquisa {
    box-shadow: none;
}

.collection-item {
    cursor: pointer;
}

.nav-pesquisa.mobile {
    display: none;
}

input::-webkit-input-placeholder {
    color: white !important;
    opacity: .8 !important;
}

.input-field input[type=search] {
    transition: .5s background-color !important;
}

@media only screen and (max-device-width: 600px) {
    .nav-pesquisa.mobile {
        display: block;
        background-color: white !important;
        transition: .5s;
    }
    
    .nav-pesquisa.mobile * {
        color: darkslategray !important;
        transition: .5s;
    }

    .nav-pesquisa.mobile input::-webkit-input-placeholder {
        color: black !important;
        opacity: .8 !important;
    }

    .nav-pesquisa.mobile.expanded {
        height: 140px !important;
    }

    .filtro-wrapper {
        display: none;
    }

    .expanded .filtro-wrapper {
        display: block;
    }
    
    .nav-wrapper {
        height: 60px !important;
    }
}

.collection .collection-item {
    padding: 20px 20px !important;
    font-size: 1.6em !important;
}