.item {
    height: 200px;
  }
  #carousel-pecs img {
    min-height: 100%;
  }

  .carousel {
    height: auto;
  }

  .fullHeight {
    height: 600px;
  }

  .card-content {
    padding: 0 !important;
  }